tr{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 85.33px;
    padding:10px 14px;
   

     td{
         // border: 1px solid black;
         text-align: left;
         width: 150px;
         font-size: 16px;
         color:rgb(77, 75, 75);
         position: relative ;
             &:last-child {
                 text-align: right;
                 }
                 
                & :nth-child(2){
                background-color: silver;
            }
            .online{
                width:10px;
                height:10px;
                border-radius: 50%;
                background-color: limegreen;
                position:absolute;
                top:6px;
                left:-12px;

                
            }
    }
 }